// Colores primarios
$orange: hsl(26, 100%, 55%);
$orange2: hsl(25, 100%, 94%);

// Colores neutrales
$dark: hsl(220, 13%, 13%);
$dark2: hsl(219, 9%, 45%);
$blue: hsl(220, 14%, 75%);
$blue2: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%); // 75% de opacidad para el fondo